.certificates{
    background:var(--color-bg-variant);
    
    border-radius: 1rem;
}
.articleimg{
    padding: 2rem;
}
.certificateimage{
    width:100%;
    aspect-ratio: 1/1;
}
.certificatecontainer{
    width:40%;
    padding-bottom: 4rem;
}
@media screen and (max-width:1024px){
    .certificatecontainer{
    width: 60%;

    }
    .articleimg{
        padding: 1.5rem;
    }
}
@media screen and (max-width:600px){
    .certificatecontainer{
    width: var(--container-width-ms)

    }
    .articleimg{
        padding: 1rem;
    }
}